* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html 
{
    scroll-behavior: smooth;
}

body 
{
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

.wine-berry 
{
    color: rgb(75, 24, 58);
}

.wewak 
{
    color: rgb(242, 165, 173);
}

.container, .container-two 
{
    width: 90%;
    margin: 0 auto;
    max-width: 100vw;
}

.container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

header 
{
    background-color: white;
    padding: 20px 0;
}

.logo 
{
    color: rgb(75, 24, 58);
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul 
{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

nav ul li a 
{
    text-decoration: none;
    color: rgb(75, 24, 58);
    font-weight: 500;
    position: relative;
    padding-bottom: 0.5rem;
    transition: color 0.3s ease;
}

nav ul li a:hover 
{
    color: rgb(207, 4, 99);
}

nav ul li a::after 
{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(207, 4, 99);
    position: absolute;
    left: 0;
    bottom: -1rem;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::after 
{
    transform: scaleX(1);
}

/* Hero Section */

.hero 
{
    background-color: rgb(75, 24, 58);
    color: rgb(242, 165, 173);
    padding: 100px 0;
    text-align: center;
}

.hero h2 
{
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p 
{
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.start-btn 
{
    padding: 10px 30px;
    background-color: rgb(242, 165, 173);
    color: rgb(75, 24, 58);
    font-weight: 600;
    text-decoration: none;
    transition: 0.75s ease;
    border-radius: 0.5rem;
}

.start-btn:hover 
{
    background-color: rgb(179, 63, 98);
}

.features 
{
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

.features h2 
{
    margin-bottom: 40px;
    color: rgb(75, 24, 58);
}

.feature-cards 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    margin-top: 40px; 
}

.feature-card 
{
    background-color: rgb(75, 24, 58);
    color: rgb(242, 165, 173);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card h3 
{
    margin-bottom: 1rem;
    font-size: larger;
}

.feature-card p 
{
    color: rgb(242, 165, 173);
}

.feature-card:hover 
{
    transform: scale(1.05);
}

.newsletter 
{
    background-color: rgb(75, 24, 58); /* Wine berry pozadina */
    color: rgb(242, 165, 173); /* Wewak za tekst */
    padding: 60px 0;
    text-align: center;
    width: 100%;
}

.newsletter h2 
{
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: rgb(242, 165, 173); 
}

.newsletter p 
{
    font-size: 1.25rem;
    margin-bottom: 25px;
    line-height: 1.5;
    color: rgb(242, 165, 173); 
}

.newsletter form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.newsletter input 
{
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.newsletter input:focus 
{
    outline: none;
    border-color: #fff;
    box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.1);
}

.newsletter button 
{
    padding: 12px 30px;
    background-color: #fff;
    color: rgb(75, 24, 58);
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.25s ease, transform 0.25s ease;
    max-width: 400px;
}

.newsletter button:hover 
{
    background-color: rgb(242, 165, 173); 
    transform: translateY(-5px);
}

.newsletter button:active 
{
    transform: translateY(1px);
}

footer 
{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: rgb(242, 165, 173);
    padding: 20px 0;
}
