/* Global Styles */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container 
{
    display: flex;
    width: 55vw;
    height: 70vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.1);
}

.russian-violet 
{
    color: #2f2f4f;
}

.left 
{
    background-image: linear-gradient(to right, #b33f62, #b33fb3);
    color: rgb(12, 10, 62);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.left h2 
{
    text-align: center;
}

.right 
{
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.right-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-div
{
    display: flex;
    flex-direction: column;
}

#iconDiv
{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.right h2 
{
    margin: 1.5rem 0;
    text-align: center;
}

.right input 
{
    padding: 0.65rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 25rem;
}

.right input:focus 
{
    border-color: #b33f62;
    outline: none;
}

.register-btn 
{
    padding: 0.65rem;
    background-color: #b33f62;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: 0.5rem;
    transition: 0.75s ease;
}

.register-btn:hover 
{
    background-color: #7b1738;
}

.register-btn:active 
{
    background-color: #520a21;
}

.register-prompt 
{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 14px;
}

.register-prompt a 
{
    color: #b33f62;
    text-decoration: none;
}

.register-prompt a:hover 
{
    text-decoration: underline;
}